.img-slide {
  /* width: 90vw; */
  /* height: auto; */
}

#about-us {
  background-color: greenyellow !important;
}

#header {
  z-index: 3;
  position: relative;
}
#header nav a {
  color: white;
}

#slider {
  margin-top: -8.5vh;
  z-index: -1;
}
